<!-- checked-out-equipment.component.html -->
<div class="checked-out-equipment">
  <h2>Checked Out Equipment</h2>
  <div class="table-container">
    <table>
      <thead>
        <tr>
          <th>Transaction ID</th>
          <th>Date</th>
          <th>Equipment Name</th>
          <th>Quantity</th>
          <th>Status</th>
          <th>Select</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let transaction of transactions">
          <td class="center-text">{{ transaction.transactionId }}</td>
          <td>{{ transaction.transactionDate | date:'medium' }}</td>
          <td>{{ transaction.equipmentName }}</td>
          <td class="center-text">{{ transaction.quantity }}</td>
          <td>{{ transaction.status }}</td>
          <td class="center-text">
            <input type="checkbox" 
                   (change)="toggleTransactionSelection(transaction.transactionId)"
                   [checked]="selectedTransactions.has(transaction.transactionId)">
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="button-container">
    <button (click)="checkIn()">Check In</button>
  </div>
</div>
